@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.box {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 350px;
    height: 400px;
}

.rectangle {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 300px;
}

.label.login {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    letter-spacing: 0;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
    text-align: center;
}

.input-field {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
}

    .input-field:focus {
        border-color: #4caf50;
        outline: none;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
    }

.button {
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    width: 100%;    
    transition: background-color 0.3s;
}

    .button:hover {
        background-color: #409444;
    }

.text-wrapper {
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-check {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

    .form-check input {
        margin-right: 5px;
    }
