
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Styles/light-mode.css" />
</head>
<body class="login">
    <div class="box">
        <div class="rectangle">
            <div class="label login">LOGIN</div>

            @using (Html.BeginForm("Login", "Home", FormMethod.Post))
            {
                <input class="input-field username" placeholder="Username" name="username" type="text" />
                <input class="input-field password" placeholder="Password" name="password" type="password" />
                <button class="button" type="submit"><div class="text-wrapper">LOGIN</div></button>
            }
            </div>
    </div>
</body>
</html>
